@media screen{
    #medList{
            position: absolute;
            top: 12%;
            bottom: 0;
            left: 2%;
            overflow-y: scroll;
    }
}

body, html {
  margin: 0;
  overflow: hidden;
  height:100%;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  /*  background: linear-gradient(0deg, #fff, #fff, #fff, #78b4f0) no-repeat;*/
    background:linear-gradient(180deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.title {
    font-weight: bolder;
    font-size: x-large;
}

.footerSeparator {
    margin: 0px;
    background-color: white;
    height: 2px;
    border: 0px;
    width: 100%;
}

.humanBody {
    text-align: center;
}

.mapArea {
    border: 2px red solid;
}

a.list-group-item:focus, a.list-group-item:hover{
    background-color: #ffae00 !important;
}
