<div class="navbar navbar-default navbar-fixed-top navTop">
    <div style="text-align: center" class="topDiv col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span class="title">Consult Me</span>
    </div>
    <br/><br/>
    <div style="text-align: center;padding-top:4rem;margin-top: 2rem" class="docImg col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <img src="images/docImage.svg" width="80%" />
    </div>
</div>
<div id="wrapper" style="padding-top:50rem">
    <div>
        <button class="btn btn-primary cstBtn" data-ng-click="navigate('symptom')"><span class="glyphicon glyphicon-search" style="float: left"></span>Symptoms</button>
        <button class="btn btn-primary cstBtn" data-ng-click="navigate('allMeds')"><span class="glyphicon glyphicon-search" style="float: left"></span>Medicines</button>
        <button class="btn btn-primary cstBtn" data-ng-click="navigate('doctors')"><span class="glyphicon glyphicon-map-marker" style="float: left"></span>Find Doctors</button>
        <button class="btn btn-primary cstBtn" data-ng-click="navigate('pharmacies')"><span class="glyphicon glyphicon-map-marker" style="float: left"></span>Find Pharmacies</button>
    </div>
</div>