<div class="row">
    <div style="text-align: end" class="topDiv col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span class="glyphicon glyphicon-chevron-left" style="font-size: x-large;color: white;float: left;margin-top:1%" data-ng-click="back('home')"
            data-ng-controller="mediSenseController"></span>
            <span class="title">Find Ailment</span>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center">
        Tap a body part to find related ailments.
    </div>
</div>
<br /><br />
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 humanBody">
        <img src="images/human_body_front.png" width="254" height="515" id="humanBodyImg" usemap="#humanBodyMap" />
        <map name="humanBodyMap">
            <area coords="125, 23, 5" shape="circle" ng-click="bodyTap('forehead')">
        </map>
    </div>
</div>