<div class="navbar navbar-default navbar-fixed-top navTop">
    <div style="text-align: end" class="topDiv col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span class="glyphicon glyphicon-chevron-left" style="font-size: x-large;color: white;float: left;margin-top:1%" data-ng-click="back('home')"
            data-ng-controller="mediSenseController"></span>
            <span class="title">Search Symptom</span>
    </div>
    <div class="row" style="padding-top:6rem">
        <ul class="nav nav-tabs">
            <li id="genSym" role="presentation" class="active" style="width:50%"><a id="genSymA" class="navActive">General Symptoms</a></li>
            <li id="a2zSym" style="display:none" role="presentation" style="width:50%"><a id="a2zSymA" class="navInactive" data-ng-click="symTypeClick('#a2zSym','#a2zSymA','#genSym','#genSymA','a2zSym')">A - Z Symptom</a></li>
        </ul>
    </div>
    <div>
        <input type="search" style="margin-top:0.5%" placeholder="Search" data-ng-model="searchText" class="form-control" />
    </div>
</div>
<div id="wrapper" style="padding-top:14rem">
    <div id="main-wrapper">
        <div class="list-group">
            <a data-ng-repeat="symp in Symptoms | filter: searchText" class="list-group-item" href="#/symptomDetail/{{symp.Name}}/{{Type}}">{{symp.Name}}<span style="float:right" class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
</div>