<div class="container">
    <div class="row">
        <div style="text-align: center" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <span class="title">MediSense</span>
        </div>
    </div>
    <br></br>
    <div class="row">
        <input type="text" placeholder="Search" data-ng-model="searchText" class="form-control" />
    </div>
    <div class="row">
        <table class="table table-striped">
            <tbody data-ng-repeat="med in medicines| filter:searchText">
                <tr>
                    <td>{{med.Name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>